{box-sizing: border-box;}

body {
  margin: 0
}

#logo {
  border-radius: thin solid red;
  float: left;
  border: 4px solid;

}

#menu {
  border radius: thin solid red;
  border: 4px solid;
}

.opcion {
  border: 1px solid;
  border-color: blue;
  float: left;

}

.opcion1 {
  float: left;
}

.opcion2 {

}
